
*{ margin: 0px; padding: 0px; }

nav, footer, aside, section, div{
    display: block;
}

header, main{
    display: flex;
}

#layout-2 header{
    height: 192px;
    background-color: #212121;

}
#layout-1 main{
    width: 1000px;
    margin: 0 auto; 
    height: 491px;
    background-color: #212121;   
}

.wrapper nav a:hover{

    background-color: #B94A48;
}


#layout-2 div{
    width: 1400px;
    margin: 0 auto;  
    background-color: #212121;
}

#layout-2 footer{
    width: 1400px;
    margin: 0 auto;  
}



.wrapper footer{
    background-color: #D6D6D6;
    height: 121px;
}

.logo{
    background-image: url("../images/Decision_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    height:  48px;
    width: 92px;
    display: block;
    margin-left: 25px;
    margin-top: 29px;
}

a{
    font-family: Arial;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

#menu-layout-1{
    position: relative;
    height: 388px;
    background-color: #517A8D;
}


#menu-layout-1 nav{
    display: flex;
    width: 727px;
    height: 57px;
    background-color: #FFCDD2;
    position: absolute;                
    right: 0;
    bottom: 0;
}

#menu-layout-1 nav a{
    padding-top: 20px;
    padding-left: 87px;
    width: 242.33px;
}

.selected{
    background-color: #B94A48;
    color: white;    
}


#main-layout-1 article{
    margin-top: 30px;
    background-color: #517A8D;
}

#main-layout-1 article:first-child{
    margin-top: 24px;
    height: 33px;
    width: 93px;
    margin-left: 28px;
}

#main-layout-1 article:nth-child(2){
    margin-left: 151px;
    height: 389px;
    width: 335px;
}

#main-layout-1 article:last-child{
    margin-left: 25px;
}

.square{
    height: 338px;
    width: 338px;
    background-color: #517A8D;
}



#menu-layout-2{
    width: 243px;
    background-color: #FFCDD2;
}

#menu-layout-2{
    display: flex;
    flex-direction: column;
    height: 1687px;
}

#menu-layout-2  a{
    padding-left: 7px;
    line-height: 133px;
    height: 133px;
}

#left-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 82px;
    width:339px;
    background-color: #FFCDD2;
}

#left-aside article{
    width: 128px;
    background-color: #C0D0E5;
}

#left-aside article:first-child{
    margin-top: 66px;
    margin-left: 170px;
    height: 338px;  
}

#left-aside article:last-child{
    margin-left: 106px;
    margin-bottom: 34px;
    height: 125px;
}

#main-layout-2 section{
    margin-left: 30px;
}

#main-layout-2 section{
    flex-direction: column;
}

#box-colum-1 article:nth-child(2){
    margin-top: 120px;
    
}
#box-colum-1 article:nth-child(3){
    margin-top: 48px;
}

#box-colum-2 article:nth-child(2){
    margin-top: 337px;
}

#center{
    display: flex;
    flex-wrap: wrap;
}

#layout-3{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #517A8D;
    width: 1000px;
    margin: 0 auto;
}

#layout-3 header{
    position: relative;
    background-color: #212121;
    height: 500px;
    width: 500px;
}

#layout-3 header img{
    position: absolute;
    top: 41.4%;
    left: 41.4%;
    cursor: pointer; 
}

#layout-3 header nav{
    position: absolute;
    display: flex;
    bottom: 0;
    height: 62px;
    width: 500px;
    background-color: #FFCDD2;
}

#layout-3 header nav a{
    height: 100%;
    width: 33.33%;
    text-align: center;
    line-height: 62px;
    
}
.box-layout-3 {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.box-layout-3 article{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height: 500px;
    width: 500px;
}

.box-layout-3 article section{
    display: flex;
    height: 250px;
    width: 250px;
    background-color: white;
    font-size: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}

.box-layout-3 article section:nth-child(1){
    opacity: 25%;
}

.box-layout-3 article section:nth-child(2){
    opacity: 50%;
}

.box-layout-3 article section:nth-child(3){
   opacity: 75%;
}

.box-layout-3 article section:hover{
    background-color: #e06377;
}

#layout-3 footer{
    display: block;
    width: 1000px;
}

@media only screen and (max-width:1200px){
    #layout-3{
        width: 500px;
    }

    .logo{
        position:absolute;
        left: 36.7%;
    }
}

